body {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-color: gray;
	color: silver;
	text-shadow:
	-2px -2px 0 #000,
	2px -2px 0 #000,
	-2px 2px 0 #000,
	2px 2px 0 #000;  

}

button {
	width: 150px;
	color: silver;
}

.img {
	height: 150px;
	width: 150px;
	border-style: solid;
	border-width: 7px;
	border-color: darkgray;
}

.battleImage1 {
	height: 235px;
	width: 200px;
	border-style: solid;
	border-width: 10px;
	border-color: green;
	float: left;
	margin-left: -25px;
	margin-top: -25px;
	margin-right: 15px;
}

.battleImage2 {
	height: 235px;
	width: 200px;
	border-style: solid;
	border-width: 10px;
	border-color: red;
	float: right;
	margin-right: -25px;
	margin-top: -25px;
	margin-left: 15px;
}

.thumbnail {
	height: 235px;
	width: 380px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: silver;
	padding: 25px;
	
}

#battleText1 {
	font-size: 26px;
	text-align: center;
}
#battleText2 {
	font-size: 26px;
	text-align: center;
}